h2{

    font-style: italic;

}

img{

    width: 500px;  
    height: 500px;     
}
ul{
    font-size: large;
}

body{
    /* display: flex; */
    /* justify-content: center; */
    width: 100vw;
    margin: auto;

}


#form{

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    width: 20vw;
    margin: 100px 600px;
    background-color: rgb(127, 182, 255);
    margin:200px auto;
}

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    form {
        background-color: #87ceeb;
        /* width: 100%;
        height: 100%; */
        margin: auto;
      }
    }
#container{
display: flex;


}
    

/*Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px) {
    body {
        /* background-color: #87ceeb; */
        margin: auto;
        width: 50%;
        /* border: 2px solid green; */
      }
    }



/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    body {
        /* background-color: #87ceeb; */
        margin: auto;
        width: 50%;
        /* border: 2px solid green; */
      }

 } 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} 
