h1{
    color: lightseagreen;
    text-align: center;
}
h2{
    width: 300px;
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color:rgb(245, 239, 234);
}
section{
    width: 300px;
    border: 0px solid black;
    background-color: rgb(126, 186, 220);
    border-style: none;
    margin: 20px;
         
  }
  img{

    width: 200px;
    margin: 20px ;
    padding: 20px;
  }